IBMWatsonNodeREDCloudant_flow.txt
[{"id":"1727c453.509f0c","type":"tab","label":"Cloudant","disabled":false,"info":""},{"id":"72a72dab.df5214","type":"http in","z":"1727c453.509f0c","name":"","url":"/putData","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["439f0953.870c58","469f4abb.0ff474"]]},{"id":"439f0953.870c58","type":"http response","z":"1727c453.509f0c","name":"","statusCode":"","headers":{},"x":490,"y":120,"wires":[]},{"id":"469f4abb.0ff474","type":"cloudant out","z":"1727c453.509f0c","name":"InsertData","cloudant":"","database":"db_01","service":"NodeREDDevSim2tk-cloudantNoSQLDB","payonly":true,"operation":"insert","x":410,"y":200,"wires":[]},{"id":"da201887.c634b8","type":"http in","z":"1727c453.509f0c","name":"","url":"/getData","method":"get","upload":false,"swaggerDoc":"","x":130,"y":400,"wires":[["66cf5471.f0379c"]]},{"id":"ec025928.b0ef08","type":"http response","z":"1727c453.509f0c","name":"","statusCode":"","headers":{},"x":520,"y":400,"wires":[]},{"id":"66cf5471.f0379c","type":"cloudant in","z":"1727c453.509f0c","name":"ReadAll","cloudant":"","database":"db_01","service":"NodeREDDevSim2tk-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":330,"y":400,"wires":[["ec025928.b0ef08"]]},{"id":"bb85b738.d8c5a8","type":"ibmiot in","z":"1727c453.509f0c","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"MQTTClient_01","applicationId":"","deviceType":"MQTTClient","eventType":"+","commandType":"","format":"json","name":"IBM IoT MQTTClient","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":280,"wires":[["469f4abb.0ff474","64545e3.ce5c4a"]]},{"id":"64545e3.ce5c4a","type":"debug","z":"1727c453.509f0c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":280,"wires":[]},{"id":"b1afb745.71e5d8","type":"http in","z":"1727c453.509f0c","name":"getDataAnalyzed","url":"/getDataAnalyzed","method":"get","upload":false,"swaggerDoc":"","x":140,"y":500,"wires":[["b83bcb34.eb4528"]]},{"id":"b83bcb34.eb4528","type":"cloudant in","z":"1727c453.509f0c","name":"ReadAll","cloudant":"","database":"db_01","service":"NodeREDDevSim2tk-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":300,"y":500,"wires":[["26746d68.4038b2","58eed823.70e3a8","d4ad1f2.18f4fe"]]},{"id":"d4ad1f2.18f4fe","type":"http response","z":"1727c453.509f0c","name":"","statusCode":"","headers":{},"x":470,"y":460,"wires":[]},{"id":"58eed823.70e3a8","type":"function","z":"1727c453.509f0c","name":"","func":"var fSensorNr;\nvar fSensorVal;\nvar trigger = [false,false];\nvar msgOut =[\"\",\"\"];\n\nfor (i = 0; i < msg.payload.length; i++) //every JSON object\n{\n    fSensorNr = msg.payload[i].SensorNr;\n    fSensorVal = msg.payload[i].SensorVal;\n\n    if (fSensorNr == 7&&fSensorVal < 18)\n    {\n       trigger[0] = true;\n    }\n    msgOut[0] = {payload:{\"trcommand\":trigger[0]}};\n\n    if (fSensorNr == 10&&fSensorVal < 18)\n    {\n       trigger[1] = true;\n    }\n}  // end of every JSON object\nmsgOut[1] = {payload:{\"trcommand\":trigger[1]}};\n\nreturn msgOut;\n","outputs":2,"noerr":0,"x":450,"y":500,"wires":[["5c41c93.f7ee538"],["8f22a244.7bd0a"]]},{"id":"5c41c93.f7ee538","type":"debug","z":"1727c453.509f0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":540,"wires":[]},{"id":"8f22a244.7bd0a","type":"debug","z":"1727c453.509f0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"26746d68.4038b2","type":"debug","z":"1727c453.509f0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":390,"y":600,"wires":[]},{"id":"de220078.cfb16","type":"comment","z":"1727c453.509f0c","name":"https://<yourCFApplication>.eu-gb.mybluemix.net/putData?SensorNr=66&SensorVal=35","info":"","x":360,"y":60,"wires":[]},{"id":"4ca768d1.46bc38","type":"comment","z":"1727c453.509f0c","name":"https://<yourCFApplication>.eu-gb.mybluemix.net/getData","info":"","x":270,"y":360,"wires":[]}]