experimentsWithOtherTools/DeviceSimulatorForTraffic1_NodeREDFlow.txt.txt
[{"id":"6e1a4052.03104","type":"tab","label":"Device Simulator for traffic1 for IoT Research HAMK","disabled":false,"info":""},{"id":"b9863d46.f1d15","type":"mqtt out","z":"6e1a4052.03104","name":"HAMK Research MQTT Broker","topic":"hamk/ICT_R/Traffic/simulatedTraffic","qos":"","retain":"","broker":"35adec72.4a96e4","x":810,"y":180,"wires":[]},{"id":"6381306.135e1d","type":"function","z":"6e1a4052.03104","name":"Device payload","func":"// Traffic data:\nvar fTimestamp1 = msg.mytimes;\nvar fMinute1 = msg.myminute;\nvar fHour1 = msg.myhour;\nvar fLocation1 = [\"Junction1\",\"Junction2\",\"Junction3\"];\n\n// Array of pseudo random speeds km/h\nvar fSpeed1 = [20.0,25.1,28.2,31.3,31.4,30.5,27.6,24.7,18.8,18.9];\n\n// Array of pseudo random frequencies units/min\n// frequency correction for each speed. Sum of corrections is zero. \nvar fFreq1 = [-3.0,-2.1,0.2,2.3,3.4,3.5,2.6,-0.7,-2.8,-3.4];\n// Frequency for each junction. \nvar fFreq2 = [8.0, 12.0, 20.0];\n\n// out frequency\nvar fFreq3 = 1.1; \n\n// Counter to select from array. When entering this function takes the previous value\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Counter to select from array.\nvar counter2 = context.get('counter2')||0;\ncounter2 = counter2+1;\nif(counter2 > 2) counter2 = 0;\ncontext.set('counter2',counter2);\n\n// -1.5 .. 3 with mean 0 by the minute of hour. -1.7 .. 1.7 with mean 0 by random. 4 .. 10 by junction name\nfFreq3 = 0.5*((Math.pow((fMinute1-30)/10),2) -3) + 0.5*fFreq1[counter1] + 0.5*fFreq2[counter2];\n// 0 .. 4 by time of day\nfFreg3 = fFreq3 + 2.0*(Math.sin(2*Math.pi*(fHour1-3)/12)+1);\nfFreq3 = Math.round(fFreq3);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n        \"TimestampGMT\":fTimestamp1,\n        \"Location\" : fLocation1[counter2],\n        \"Speed\" : fSpeed1[counter1],\n        \"Freq\": fFreq3,\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["b9863d46.f1d15"]]},{"id":"b08e9794.82edc8","type":"comment","z":"6e1a4052.03104","name":"Device Simulator for iot.resear.hamk.fi broker","info":"","x":230,"y":80,"wires":[]},{"id":"2c7f4ee6.53ff92","type":"inject","z":"6e1a4052.03104","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"20","crontab":"","once":true,"onceDelay":"1","x":150,"y":180,"wires":[["3ef60724.619ad8"]]},{"id":"3ef60724.619ad8","type":"simpletime","z":"6e1a4052.03104","name":"","x":330,"y":180,"wires":[["6381306.135e1d"]]},{"id":"a4e677ee.c8f328","type":"comment","z":"6e1a4052.03104","name":"Continuously running device simulation. ","info":"","x":210,"y":140,"wires":[]},{"id":"d5d3f57c.3d31e8","type":"comment","z":"6e1a4052.03104","name":"Publis this message once when you made some changes in the simulated device","info":"","x":340,"y":260,"wires":[]},{"id":"261695ad.41569a","type":"mqtt out","z":"6e1a4052.03104","name":"HAMK Research MQTT Broker","topic":"hamk/ICT_R/Traffic/simulatedTraffic/SensorConnected","qos":"","retain":"true","broker":"35adec72.4a96e4","x":810,"y":320,"wires":[]},{"id":"8e4fbaf5.1ab9d8","type":"function","z":"6e1a4052.03104","name":"Connected info payload","func":"// Traffic data:\n\nvar fDateTime = msg.myrawdate; \nvar fSensorNames = \"Sensors on Junctions 1, 2, 3\";\n\n\nmsg = {\n  payload: JSON.stringify(\n    {\n        \"Sensor connected GMT\":fDateTime,\n        \"Sensor names\":fSensorNames,\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["261695ad.41569a"]]},{"id":"8f4b8be9.9a1cf8","type":"inject","z":"6e1a4052.03104","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"1","x":140,"y":320,"wires":[["81bd8871.832c08"]]},{"id":"81bd8871.832c08","type":"simpletime","z":"6e1a4052.03104","name":"","x":330,"y":320,"wires":[["8e4fbaf5.1ab9d8"]]},{"id":"35adec72.4a96e4","type":"mqtt-broker","z":"","name":"HAMK Research MQTT Broker","broker":"iot.research.hamk.fi","port":"1883","clientid":"hamk_ICT_R_simulatedDevice_01","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"hamk/ICT_R/simulatedTraffic01/onConnection","birthQos":"0","birthRetain":"true","birthPayload":"{\"Installation\":\"Simulation on NodeRED\", \"Responciple\":\"Timo Karppinen\"}","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]